.accordion {
    &__item {
        &_active:not(:last-child) { 
            margin-bottom: 40px;
        }
    }

    &__button {
        padding-bottom: 26px;

        &:after {
            content: url(../img/notes/arr-down.svg);
            padding-left: 8px;
        }

        &_active,
        &:hover {
            text-decoration: underline;
        }

        &_active {
            padding-bottom: 10px;
            
            }

        &_active::after {
            content: url(../img/notes/arr-up.svg);
        }
    }

    &__text {
        display: none;
        font-weight: 400;
        mix-blend-mode: normal;
        opacity: 0.5;
        overflow: auto;

        @include tablet {
            max-width: 100%;
        }
    }
}