.block-header {
    &__subtitle {
        font-family: 'Poppins';
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &_color_white {
    color: $second-font-color;
    }
}