.partners {
    position: relative;
    z-index: 5;
    background: #F2F2F2;
    padding-top: 40px;

    &__section-header {
        margin: 31px auto 64px;

        @include laptop {
                margin-bottom: 48px;
        }
    }
    &__reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include laptop {
            justify-content: space-around;
        }
        @include tablet {
            flex-direction: column;
            margin: 0 auto;
        }
    }

    &__logo-block {
        padding: 73px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include laptop {
            justify-content: center;
            padding: 40px 0;
        }
    }
    
    &__img-logo {
        width: 140px;
            height: 80px;
            -webkit-filter: grayscale(1) opacity(0.5); 
            filter: grayscale(1) opacity(0.5); 

            &:hover {
                filter:grayscale(0);
            }
    }
}